@charset 'utf-8';

$kollektiv-color1: #95994D;
$kollektiv-color2: #7B8C99;
$kollektiv-color3: #994C4C;
$kollektiv-color4: #BCA751;

$color-lene:$kollektiv-color1;
$color-julius:$kollektiv-color4;
$color-florian:$kollektiv-color2;
$color-lucas:$kollektiv-color3;

$spacer: 2rem;
$adminbar: 32px;
$kopfabstand: $spacer;

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
// @include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
@include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
@include foundation-sticky;
// @include foundation-reveal;
@include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

////////////////////////////////////////////////////
// CUSTOM THEME
////////////////////////////////////////////////////
// Basics
@import 'basics/__basics.scss';
// Parts
@import 'parts/__parts.scss';
// Pages
@import 'pages/__pages.scss';
