////////////////////////////////////////////////////
// Filter-Menu
////////////////////////////////////////////////////
.filter {
  padding: $spacer/2;
  @include breakpoint(medium) {
    padding: $spacer;
  }
  // .menu{
  //   display: none;
  // }
  // &:hover .menu {
  //   display: flex;
  // }
  .menu {
    margin-top: .5em;
  }
  .filter-intro {
    margin-bottom: -1em;
    svg {
      position: absolute;
      margin-top: -3px;
      transform: scaleX(1);
      fill: $dark-gray;
      transition: fill .3s;
    }
    span {
      margin-left: 24px;
      padding-left: 1em;
    }
    button {
      padding: 1em 1em 1em 0;
      color: $dark-gray;
      transition: color .3s;
    }
    button.active {
      color: $black;
      svg {
        fill: $black;
        transform: scaleX(-1);
      }
    }
    button:hover {
      color: $black;
    }
  }
  .filter-funktion {
    display: none;
  }
  li.fotograflink-florian {
    a { color:
      $color-florian;
    }
    &.is-active a {
      color: $white;
      background-color: $color-florian;
    }
  }
  li.fotograflink-lene {
    a {
      color: $color-lene;
    }
    &.is-active a {
      color: $white;
      background-color: $color-lene;
    }
  }
  li.fotograflink-julius {
    a {
      color: $color-julius;
    }
    &.is-active a {
      color: $white;
      background-color: $color-julius;
    }
  }
  li.fotograflink-lucas {
    a {
      color: $color-lucas;
    }
    &.is-active a {
      color: $white;
      background-color: $color-lucas;
    }
  }
  @include breakpoint(small down) {
    .menu {
      //margin-left: -1rem;
      //display: block;
    }
  }
  @include breakpoint(medium) {
    .menu-text {
      padding-left: 0;
    }
  }
}

.term-corporate .menu-fotografen {
  display: none;
}
