////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////
.site-footer {
  border-top: 2px solid $black;
  padding: $spacer $spacer/2 ;
  @include breakpoint(medium) {
    padding: $spacer;
  }

  .menu {
    margin-bottom: 1rem;
  }
  .menu li:first-child {
    margin-left: -1rem;
  }
  color: $dark-gray;
  p {
    margin: 0;
  }
  a {
    color: $dark-gray;
    &:hover {
      color: $black;
    }
  }
  .footer-logos {
    display: inline-block;
    position: relative;
    height: 1.7rem;
    margin-right: 1em;
    &:hover {
      svg {
        fill: $black;
      }
    }
  }
  .footer-corpoate-logo {
    height: 1.1rem;
    top: -.5rem;
  }
  a.social-link {
    float: right;
    height: 1.8rem;
    width: 1.8rem;
  }
  svg {
    fill: $dark-gray;
    width: auto;
    height: 100%;
  }
}
