////////////////////////////////////////////////////
// GUTENBERG BLOCKS
////////////////////////////////////////////////////
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
  margin: 0;
}
.wp-block-gallery,
.wp-block-columns,
figure.is-type-video {
  margin: $spacer 0;
}
