////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////
@keyframes k25color {
  0% {
    fill: $kollektiv-color1;
    color: $kollektiv-color1;
  }
  30% {
    fill: $kollektiv-color2;
    color: $kollektiv-color2;
  }
  60% {
    fill: $kollektiv-color3;
    color: $kollektiv-color3;
  }
  90% {
    fill: $kollektiv-color4;
    color: $kollektiv-color4;
  }
  100% {
    fill: $kollektiv-color1;
    color: $kollektiv-color1;
  }
}
.header {
  background: $white;
  border-bottom: 1px solid $white;
  @include clearfix;

  &.is-stuck {
    border-color: #ccc;
  }
  .logolink {
    float: left;
    //border: 1px solid red;
    display: inline-block;
    // &:before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   border-top: 1px dashed cyan;
    //   top: $spacer;
    // }
  }
  .logo-corporate {
    margin: $spacer/2;
    @include breakpoint(medium) {
      margin: $spacer;
    }
    display: block;
    //position: absolute;
    font-size: 1.6rem;
    line-height: 65%!important;
    @include breakpoint(medium) {
      font-size: 2.6rem;
    }
    color:$black;
    text-transform: uppercase;
    line-height: 100%;
    font-weight: 200;
    strong {
      font-weight: 600;
    }
    svg {
      //top: .1rem;
      height: 1.2rem;
      width: 2.8rem;
      position: relative;
      @include breakpoint(medium) {
        //top: .4rem;
        height: 1.80rem;
        width: 4.2rem;
      }
      animation: k25color 5s infinite;
    }
  }
  svg.kollektivlogo {
    margin: $spacer/2;
    @include breakpoint(medium) {
      margin: $spacer;
    }
    display: block;
    //position: absolute;
    height: 2rem;
    //transition: all .5s;
    @include breakpoint(medium) {
       height: 3rem;
    }
  }
  .logo-unterzeile {
    position: absolute;
    left: $spacer/2;
    top: 2.3rem;
    @include breakpoint(medium) {
      left: $spacer;
      top: 3.3rem;
    }
    color: $black;
    text-transform: uppercase;
    font-size: .7em;
    //letter-spacing: .38em; Für das Wort Fotografie
    //letter-spacing: .22em; Für das Wort Photography
    letter-spacing: .38em;
    margin: 0 0 0 -.08em;
    @include breakpoint(medium) {
      font-size: 1em;
      top: 4rem;
      //letter-spacing: .42em; Für das Wort Fotografie
      //letter-spacing: .26em; Für das Wort Photography
      letter-spacing: .42em;
      margin: 0 0 0 -.08em;
    }
  }
  &.is-stuck .logo-unterzeile {
    display: none;
  }
  a:hover svg.kollektivlogo {
    fill: $medium-gray;

  }
  &.is-stuck svg {
    margin: .8rem $spacer 0 $spacer;
    height: 2rem;
  }
  &.is-stuck .logo-corporate {
    margin: 1rem $spacer/3 0 $spacer;
    font-size: 1.4rem;
  }
  &.is-stuck svg.corporatelogo {
    margin: 0;
    top: 0;
    height: 1rem;
    width: 2rem;
  }
  .hauptmenu-desktop {
    padding: $spacer;
    display: none;
    //transition: all .5s;
    a.is-active{
      font-weight: bold;
      color: black;
    }
    a:hover{
      color: black;
    }
    @include breakpoint(medium) {
      display: block;
    }
  }
  &.is-stuck .hauptmenu-desktop {
    padding: $spacer/2 $spacer;
  }

}
.zufallsfarbe-1 svg g#_25 { fill: $kollektiv-color1; }
.zufallsfarbe-2 svg g#_25 { fill: $kollektiv-color2; }
.zufallsfarbe-3 svg g#_25 { fill: $kollektiv-color3; }
.zufallsfarbe-4 svg g#_25 { fill: $kollektiv-color4; }

.zufallsfarbe-1 .logo-unterzeile { color: $kollektiv-color1; }
.zufallsfarbe-2 .logo-unterzeile { color: $kollektiv-color2; }
.zufallsfarbe-3 .logo-unterzeile { color: $kollektiv-color3; }
.zufallsfarbe-4 .logo-unterzeile { color: $kollektiv-color4; }

.zufallsfarbe-1 .logo-corporate svg { fill: $kollektiv-color1; }
.zufallsfarbe-2 .logo-corporate svg { fill: $kollektiv-color2; }
.zufallsfarbe-3 .logo-corporate svg { fill: $kollektiv-color3; }
.zufallsfarbe-4 .logo-corporate svg { fill: $kollektiv-color4; }


////////////////////////////////////////////////////
// MOBILES MENU
////////////////////////////////////////////////////
/* MOBILES FULLSCREEN MENU */
button#menu {
  padding: $spacer/2;
  @include breakpoint(medium) {
    padding: $spacer;
  }
  position: absolute;
  right: 0;
  top: 0;
  span {
    @include hamburger($black, $medium-gray, 25px, 20px, 3px, 3);
  }
  @include breakpoint(medium) {
    display: none;
  }
}
.hauptmenu {
  display: none;
  height: 100vh;
  transition: all 2s;
  &.active {
    display: block;
  }
}
.hauptmenu-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  font-size: 2rem;
  //font-size: 5vw;
  line-height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $dark-gray;
  padding-top: 4rem;
  ul {
    list-style-type: none;
    display: block;
  }
  li {
    display: block;
  }
  a {
    color: $white;
    &:hover {
      opacity: .5;
    }
  }
}
