////////////////////////////////////////////////////
// THUMBNAILS
////////////////////////////////////////////////////
.images {
  margin-bottom: $spacer;
}
.term-corporate .images-content,
.term-editorial .images-content {
  margin: 0 $spacer/4;
  @include breakpoint(medium) {
    margin: 0 $spacer/1.25;
  }
}
.images-content {
  //margin: 2px;
  overflow: hidden;
  .hentry {
    position: relative;
    overflow: hidden;
    &.filter-corporate,
    &.filter-editorial{
      padding: $spacer/4;
      .content {
        margin: $spacer/4;
      }
      @include breakpoint(medium) {
        padding: $spacer/4;
        .content {
          margin: $spacer/4;
        }
      }
    }
    button {
      width: 100%;
      cursor: nesw-resize;
    }
    img {
      width: 100%;
      min-width: 100%;
    }
    h5 {
      font-weight: 600;
      font-size: .7rem;
      @include breakpoint(medium) {
        font-size: 1.2rem;
      }
    }
    p {
      font-size: .6rem;
      @include breakpoint(medium) {
        font-size: 1rem;
      }

    }
    .content {
      opacity: 1;
      position: absolute;
      z-index: +1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 1rem;
      color: $white;
      display: flex;
      align-items: center;
      .text {
        width: 100%;
        opacity: 0;
        transition:
          opacity .5s,
          transform 2s;
        transition-timing-function: ease-out;
        transform: scale(.9);
      }
    }
    .multi-images {
      position: absolute;
      right: 1em;
      bottom: .7em;
      z-index: +1;
      svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: $white;
      }
    }
    &:hover {
      .content {
        opacity: 1;
        background: transparentize(#666, 0);
      }
      .text {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  .playbutton {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 50%;
    margin: -10% 0 0 -10%;
    border-radius: 50%;
    background: rgba(0,0,0,0.1);
    box-shadow: 0px 0px 60px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10vw rgba(0,0,0,0.3);
    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
      display: block;
    }
  }
  .post-edit-link {
    padding: 10px;
    bottom: 0;
    color: rgba(255,255,255,.5);
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    z-index: 9999;
  }

}
////////////////////////////////////////////////////
// Fotografen-Farbe
////////////////////////////////////////////////////

.hentry.fotograf-lene:hover .content { background: transparentize($color-lene, 0); }
.hentry.fotograf-julius:hover .content { background: transparentize($color-julius, 0); }
.hentry.fotograf-florian:hover .content { background: transparentize($color-florian, 0); }
.hentry.fotograf-lucas:hover .content { background: transparentize($color-lucas, 0); }

////////////////////////////////////////////////////
// Raster schief
////////////////////////////////////////////////////
/*
.grid .hentry:nth-child(odd){
  padding: $spacer/2 $spacer/4 $spacer/5 $spacer/7;
}
.grid .hentry:nth-child(1n+1){
  padding: $spacer*2 $spacer*2 $spacer/2 $spacer*3;
}
.grid .hentry:nth-child(3n+1){
  padding: $spacer $spacer*3 $spacer/4 $spacer*2;
}
.grid .hentry:nth-child(5n+1){
  padding: $spacer/3 $spacer $spacer*2 $spacer/2;
}
.grid .hentry:nth-child(7n+1){
  padding: $spacer*3 $spacer/2 $spacer*3 $spacer/3;
}
*/
