////////////////////////////////////////////////////
// PANEL wie Kontakt und About
////////////////////////////////////////////////////
#primary .panel {
  padding: $spacer $spacer/2;
  @include breakpoint(medium) {
    padding: $spacer;
  }
  p {
    max-width: 66em;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .wp-block-image {
    margin-bottom: $spacer;
  }
  &#about {
    background: #eee;
  }
  .scrollup {
    svg {
      height: 1em;
      margin-right: .25em;
      fill: #999;
    }
    &:hover {
      svg {
        fill: #000;
      }
    }
  }
}
