////////////////////////////////////////////////////
// BLOG
////////////////////////////////////////////////////
.blog,
.single-post {
  .header svg {
    fill: $black;
  }
  .header .burgermenu,
  .header .hauptmenu-desktop {
    display: none;
  }
  .post {
    padding: $spacer;
    &>img {
      display: none;
    }
    .title {
      font-weight: 700;
      text-transform: uppercase;
      line-height: 90%;
      margin: 0;
      a { color: $black; }
    }
    .post-meta {
      color: $dark-gray;
      text-transform: uppercase;
      letter-spacing: .2em;
      font-size: .8em;
      margin-bottom: 1rem;
      a {
        color: $dark-gray;
        &:hover {
          border-bottom: 1px solid;
        }
      }
    }
    *,div {
      //width: auto!important;
      max-width: 100%!important
    }
    // Breite der Beiträge einstellen
    .title,
    .post-meta,
    .the-content,
    .meta {
      //display: block;
      width: 40rem;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &:before {
      content: "";
      display: block;
      border-bottom: 5px solid;
      margin: 0 $spacer*-1 $spacer*2 $spacer*-1;
      transform: rotate(-2deg);
      //height: 4vw;
    }
  }
  .comment-respond {
    padding: $spacer;
  }
  img {
    display: block;
    max-width: 100%;
  }
  #pagination {
    a {
      font-size: 1rem;
      padding: .7rem 1rem;
      display: block;
      &:hover {
        font-weight: bold;
      }
    }
    text-align: justify;
    .past-page {
      a {border-left: none;}
      width: 49.5%;
      display: inline-block;
    }
    .next-page {
      a {border-right: none;}
      width: 49.5%;
      display: inline-block;
      text-align: right;
    }
  }
  .site-footer {
    border-top: none;
  }
}
