////////////////////////////////////////////////////
// Hauptseiten
////////////////////////////////////////////////////

.tax-filter {
  h2 {
    font-weight: 200;
    font-size: 4rem;
  }
  &.term-corporate {
    //color: $kollektiv-color1;
  }
  &.term-editorial {
    //color: $kollektiv-color2;
  }
}
.intro {
  padding: $spacer $spacer $spacer $spacer;
  //text-align: center;
  //color: #fff;
}
.page-portrait,
.term-portrait {
  //background: $kollektiv-color2;
}
