////////////////////////////////////////////////////
// SEITEN
////////////////////////////////////////////////////
.page {
  .title,
  .the-content > h1,
  .the-content > h2,
  .the-content > h3,
  .the-content > h4,
  .the-content > h5,
  .the-content > p {
    padding: 0 $spacer/2;
    @include breakpoint(medium) {
      padding: 0 $spacer;
    }
  }
}
