////////////////////////////////////////////////////
// STARTSEITE
////////////////////////////////////////////////////
.home {
  .header {
    //background: blue;
  }
  // .header svg {
  //   fill: #fff;
  //   &:hover {
  //     opacity: .5;
  //   }
  // }
  // button#menu span {
  //   @include hamburger($white, $black, 25px, 20px, 3px, 3);
  // }

}
.startteaser-wrap {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 6em;
  width: 100%;
  padding: 0 $spacer $spacer $spacer;
  .box:first-child {
    width: 100%;
  }
  .box:nth-child(4){
    display: none;
  }
  .box {
    //padding: $spacer/2;
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
    a {
      display: block;

      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      color: #fff;
    }
    span {
      display: block;
      @include absolute-center;
      @include fluid-type($min_width, $max_width, 20px, 42px);
    }
  }
}
.startteaser-box{
  //margin-top: $kopfabstand*-1;
  float: left;
  width: 100%;
  clear: both;
  position: relative;
  .box {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    height: 25vh;
    @include breakpoint(medium) {
      width: 50%;
      height: 49vh;
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    a:hover {
      opacity: .5;
    }
    span {
      @include absolute-center;
      display: block;
      color: #fff;
      @include fluid-type($min_width, $max_width, 20px, 42px);
      //font-size: 12vw;
      line-height: 100%;
      text-align: center;
    }
  }
  .startteaser-box::after {
    content: "";
    clear: both;
    display: table;
  }
}
.box:nth-child(1){
  background: $kollektiv-color1;
}
.box:nth-child(2){
  background: $kollektiv-color2;
}
.box:nth-child(3){
  background: $kollektiv-color3;
}
.box:nth-child(4){
  background: $kollektiv-color4;
}
