////////////////////////////////////////////////////
// Body und Co
////////////////////////////////////////////////////
*, ::before, ::after {
  @include border-box;
 }

body {
  //background: #222;
  /*
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
  */
  // @include breakpoint(small) {
  //   border-top: 1px solid red;
  // }
  // @include breakpoint(medium) {
  //   border-top: 1px solid yellow;
  // }
  // @include breakpoint(large) {
  //   border-top: 1px solid green;
  // }
  &.logged-in {
    &::before {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      left: $spacer;
      height: 100vh;
      border-left: 1px dashed cyan;
      z-index: 999;
      opacity: .5;
    }
    &::after {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      right: $spacer;
      height: 100vh;
      border-left: 1px dashed cyan;
      z-index: 999;
      opacity: .5;
    }
  }
}
#primary {
  @include breakpoint(small) {
    margin-top: $spacer*2;
  }
  @include breakpoint(medium) {
    margin-top: 0;
  }
}
// Typography Tweaks um linksbündig zu sein
h2,h3,h4,h5,h6 {
  text-indent: -.07em;
}
